<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <!-- 基本的文件的输出信息的配置 -->
        <property name="LOG_HOME">${sys:catalina.base}/logs</property>
    </properties>
    <appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] - %msg%n" />
        </Console>
        <!-- 系统全日志 -->
        <RollingRandomAccessFile name="Stdout"
                                 fileName="${LOG_HOME}/stdout.file_json" filePattern="${LOG_HOME}/stdout.file_json.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- 系统错误日志 -->
        <RollingRandomAccessFile name="Warn"
                                 fileName="${LOG_HOME}/warn.file_json" filePattern="${LOG_HOME}/warn.file_json.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
        <!-- 系统性能日志 -->
        <RollingRandomAccessFile name="Warn"
                                 fileName="${LOG_HOME}/profilelog.file_json" filePattern="${LOG_HOME}/profilelog.file_json.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework" level="info"/>
        <logger name="org.jboss.netty" level="warn"/>
        <logger name="org.apache.http" level="warn"/>
        <logger name="com.mchange.v2" level="warn"/>
        <!-- Root Logger -->
        <root level="DEBUG">
            <appender-ref ref="Console" />
            <appender-ref ref="Stdout" />
            <appender-ref ref="Warn" />
        </root>
    </loggers>
</configuration>